
body{
    /*padding-left: 20%;
    padding-right: 20%;*/
    margin: 0;

}

body, input, a{
    font-family: 'Arvo';
    font-size: 1em;
}

input:focus{
    outline: none;
}

section{
    margin-bottom: 20px;
}
.blogPostContainer{
    position: relative;
margin: 0;
margin: auto;
width: 80%;
}

.blogPostTitle{

}

.blogPostPost{

}

.blogPostAuthor{
    font-style: italic;
}

.heroVideo {
    width: 100%;
    filter: brightness(0.5);
}

.hero{
    /*width: 100vw;*/
    /*height: 100vh;*/
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;



}

.heroTextBig{
    position: absolute;
    color: white;
    padding-left: 20%;
    padding-right: 20%;
}

.heroTextSmall{
    display: none;
}


.workForUs{
    position: relative;
    padding-left: 10%;
    width: 50%;
    float:left;
}

.workForUs h1, .workForUs h3{
    text-align: center;
}

.strategWhite{
    display: none;
}

.profile{
    position: relative;
    float: left;
    margin-left: 5%;
    width: 30%;
    text-align: center;
}


.profile input { 
    border:2px solid black; 
    background-color: white;
    padding: 10px;
    color: black;
    min-width: 140px;


}

.profile img{
    width: 120px;
    margin-bottom: 30px;
}

.profile input:hover{

    background-color: black;
    color: white;

}

.loginForm input[type='text']:hover, .loginForm input[type='password']:hover{
    background-color: white !important;
    color: black;
}


.loginForm a{
    color: black;
}

.jobs{
    clear: both;
    width: 100%;
}



.jobContainer{
    width: calc(100%/5);
    display: inline-block;

    overflow: hidden;
}

.jobContainer a{
    text-decoration: none;
    color: black;
}

.jobWrapper{
    margin: 40px;
}

.imageWrapper{
    height: 200px;
    position: relative;
}

.jobListingImage{
    left: 50%;
    transform: translateX(-50%);

    max-height: 200px;
    max-width: 100%;
    position: absolute;
    bottom: 0;

}



.jobTitleButton{
    margin-top: 20px;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}

.jobTitleButton:hover{
    background: black;
    color: white;
}





.blog{
    width: 100%;
    display: flex;


}

.viewBlog{

    display: flex;

    justify-content: center;





    align-items: center;
    float: left;
    width: 40%;
    background: black;

}

.viewBlogBtn{
    position: absolute;


}

.viewBlog input { 
    border:2px solid white; 
    padding: 10px;
    background-color: black;
    color: white;


} 

.viewBlog input:hover{
    border: none;
    background-color: white;
    color: black;

}


.latestBlogPost{
    float: left;
    width: 60%;
    background: whitesmoke;
    padding: 20px;
    /*    padding-bottom: 10px;*/
    /*    padding-right: 20px;*/
}

/*.imageGalleryList{
    padding: 0;
    list-style-type: none;
     
    display: inline-block;
 
}*/

.imageGallery{
    width: 100%;
}

.imageGallery > video, .imageGallery > img{
    width: calc(100%/3);
    position: relative;
    float: left;



}


@media(min-width: 2000px) {
    .imageGallery > video, .imageGallery > img{
        width: calc(100%/5);
    }

    .hideIf2000pxOrMore{
        display: none;
    }
}




@media(max-width: 1600px) {
    .jobContainer{
        width: calc(100%/4);

    }
}

@media(max-width: 1300px) {
    .jobContainer{
        width: calc(100%/3);

    }

    .workForUs{
        width: 80%;
        padding-left: 0px;
        margin-left: 10%;
    }

    .profile{
        width: 100%;
        clear: both;
        background: black;
        color: white;
        margin-left: 0;
        padding-bottom: 30px;
        padding-top: 10px;
    }




    .strategWhite{
        display: inline-block;
    }

    .strategBlack{
        display: none;
    }

    .profile input{
        background-color: black;
        border: 2px solid white;
        color: white;
    }

    .profile input:hover{
        background-color: white;
        color: black;
        border: 2px solid white;
    }
    .profile .loginForm input[type='text']:hover, .profile .loginForm input[type='password']:hover{
        background-color: black !important;
        color: white;
    }

    .loginForm a{
        color: white;
    }

}


@media(max-width: 768px) {
    .imageGallery > video, .imageGallery > img{
        width: 100%;
    }


    .jobContainer{
        width: calc(100%/2);

    }

    .heroTextSmall{
        display:block;
        position: relative;
        color: black;
    }
    .heroTextBig{
        display:none;
    }



    .blog{
        display: block; 
    }
    .viewBlog{

        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .latestBlogPost{
        display: block; 
        width: 100%;
        padding: 0px;
    }
    .blogPostContainer{
        padding:20px;
    }
}

@media(max-width: 600px) {
    .jobContainer{
        width: calc(100%/1);

    }
}


.jobPostContainer{
    max-width: 700px;
    margin: auto;
    margin-top: 50px;

}

.jobPostContainer h1{

    text-align: center;
}

.jobPostText{
    margin: 20px;
}

.jobPostImage{
    padding-bottom: 50px;
}

.jobPostImageWrapper{
    height: 70vh;


    max-width: inherit;

    position: relative;


}

.jobPostImage{

    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    max-width: 95%;
    max-height: 100%;

}

.messageContainer textArea{

    /*    min-height: 400px;*/
}

.hs_message{
/*    text-align: center !important;*/

}

.updateProfileFormContainer, .messageContainer, .regForm{
    position: relative;

    margin:auto;
    max-width: 80%;
    width: 500px;
    padding-right: 7%;
}

.updateProfileFormContainer h1, .messageContainer h1, .regForm h1{
    text-align: center;
}

input[type="submit"]:hover, input[type="file"]:hover{
    cursor: pointer !important;
}
::-webkit-file-upload-button { cursor:pointer; }
/*body .hs-button.primary{
    cursor: pointer;
}*/

.regForm{
/*    position: relative;
    margin:auto;
    max-width: 80%;
    width: 500px;*/
    padding-right: 0%;
    padding-top: 10%;
}

.regForm input{
    border: 2px solid black;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
}

.regForm input[type='submit']{
    width: 524px;
    margin-top: 20px;
    background-color: white;
    max-width: 107%;

}

.regForm input[type='submit']:hover{

    background-color: black;
    color: white;

}

.regForm h1{
    text-align: center;
}









/* All HubSpot Forms
   ========================================================================== */
.hbspt-form {
    margin-top: 10%;
    text-align: left;
    color: black;
    font-size: 1em;
    font-family: 'Arvo';


}

/* Form Field (selector for form field wrapper) */
.hs-form .hs-form-field{


}

/* Descriptions (targets class applied to Help Text divs) */
.hs-form .hs-field-desc {}

/* Labels (selects field labels and error messages) */
.hs-form label {}
.hs-form .hs-form-field > label {}

/* Inputs (selectors for all inputs)  */
.hs-form input[type="text"],
.hs-form input[type="password"], 
.hs-form input[type="datetime"], 
.hs-form input[type="datetime-local"], 
.hs-form input[type="date"], 
.hs-form input[type="month"], 
.hs-form input[type="time"], 
.hs-form input[type="week"], 
.hs-form input[type="number"], 
.hs-form input[type="email"], 
.hs-form input[type="url"], 
.hs-form input[type="search"], 
.hs-form input[type="tel"], 
.hs-form input[type="color"],
.hs-form input[type="file"],
.hs-form textarea,
.hs-form select {
    outline: none;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    border: 2px solid black;
}

/* Inputs in focus (selectors for all inputs when clicked)  */
.hs-form input[type="text"]:focus,
.hs-form input[type="password"]:focus, 
.hs-form input[type="datetime"]:focus, 
.hs-form input[type="datetime-local"]:focus, 
.hs-form input[type="date"]:focus, 
.hs-form input[type="month"]:focus, 
.hs-form input[type="time"]:focus, 
.hs-form input[type="week"]:focus, 
.hs-form input[type="number"]:focus, 
.hs-form input[type="email"]:focus, 
.hs-form input[type="url"]:focus, 
.hs-form input[type="search"]:focus, 
.hs-form input[type="tel"]:focus, 
.hs-form input[type="color"]:focus,
.hs-form input[type="file"]:focus,
.hs-form textarea:focus,
.hs-form select:focus {}

/* Multi-line inputs (selectors to target multi-line fields */
.hs-form textarea {
    min-height: 200px;
}
.hs-form textarea:focus {}

/* Dropdowns (selectors for dropdowns) */
.hs-form select {}
.hs-form select:focus {}

/* Multi-select (selectors for multi-select fields) */
.hs-form form.hs-form .hs-form-field ul.inputs-list {}

.hs-form form.hs-form .hs-form-field ul.inputs-list li input {}
.hs-form input[type="radio"] {}
.hs-form input[type="checkbox"] {}

/* Required (selectors for fields, when they do not pass validation) */
.hs-form input:focus:required:invalid, 
.hs-form textarea:focus:required:invalid, 
.hs-form select:focus:required:invalid {}

.hs-form input:focus:required:invalid:focus, 
.hs-form textarea:focus:required:invalid:focus, 
.hs-form select:focus:required:invalid:focus {}

/* Error message (selector for validation messages) */
.hs-form .hs-error-msgs label{}

/* Placeholder Text (styles the placeholder attribute text) */
::-webkit-input-placeholder { /* Webkit Browsers */}
:-moz-placeholder { /* Firefox 18- */}
::-moz-placeholder { /* Firefox 19+ */}
:-ms-input-placeholder { /* IE10 */}

/* Multi Column Form (selectors for fieldsets and field wrappers) 
   ========================================================================== */

.hs-form .hs-form fieldset.form-columns-1 {}
.hs-form .hs-form fieldset.form-columns-1 .hs-form-field {}

.hs-form .hs-form fieldset.form-columns-2 {}
.hs-form .hs-form fieldset.form-columns-2 .hs-form-field {}

.hs-form .hs-form fieldset.form-columns-3 {}
.hs-form .hs-form fieldset.form-columns-3 .hs-form-field {}

/* Submit buttons (selectors for all non-CTA buttons) 
   ========================================================================== */

body .hs-button.primary,
body .hbspt-form input[type="submit"],
body .hbspt-form input[type="button"] {
    position: relative;
    background-color: white;
    /*    cursor: pointer !important;*/

    padding: 10px;
    width: 524px;
    max-width: 107%;
    min-width: 100%;
    border: 2px solid black;
}

body .messageContainer .hbspt-form input[type="submit"]{
    width: 500px;
    max-width: 100%;
}

body .hs-button.primary:hover,
body .hbspt-form input[type="submit"]:hover,
body .hbspt-form input[type="button"]:hover {
    background-color: black;
    color: white;
}

body .hs-button.primary:focus,
body input[type="submit"]:focus,
body input[type="button"]:focus {}